# Base model (default set in code if empty)
HF_BASE_MODEL=Helsinki-NLP/opus-mt-kn-en
# For NLLB you must set language codes:
# SRC_LANG=kan_Knda
# TGT_LANG=eng_Latn
# Device override (cpu|cuda)
DEVICE=
